body{
	margin: 0px;
	background-color: #fafafa;
}
.container-header-page{
	background-color: #6110ac;
	color: #fff;
	width: 100%;
	height: 80px;

}


.cpbutton{
	padding: 2px, 5px;
	margin: 15px 0px 0px 15px;
	
}
.cpbutton > div{
	width: 20px;
	height: 5px;
	color: #fff;
	margin: 3px 0px;
	border-radius: 4px;
	background-color: #6110ac;
}
.header-page{
	margin: 0px;
	padding: 0px;
	display: inline-block;
}
.containt{
	margin-top: 25px;
}
h2{
	font-size: 16px;
	display: inline;
	margin: 0px;
	padding: 20px 0px 0px 10px;
	color:#6110ac;
}
h1{
	display: inline;
	margin: 0px;
	padding: 10px 0px 0px 10px;
	color:#6110ac;
	font-size: 24px;
}

.Go{
	background-color: #6010ac;
	color: #fff;
	border-radius: 20px;
}	
table{
	    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #fff;
}
td{
	padding: 10px;
	
}
.avl_trmnt{
	margin-top: 25px;
}
.pre_trmnt{
	margin-top: 25px;
}








