<!DOCTYPE html>
<html>
	<head>
		<title>Most Populer Blog</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/site.css" />
	</head>
	<body>
		<header></header>
		<section>
			<div class="container-columns">
				<div class="column-left">
					<h1 id="page-title"><a href="javascript:void(0)">Ad Blockers: Setback or Spark for Innovation?</a></h1>
				</div>
				<div class="column-right">
					<ul>
						<li>
							<h3>The real reasons why making money with online media is hard</h3>
							<img src="../images/placeholder.png" alt="Icon Placeholder" />
						</li>
						<li>
							<h3>How Motherly Uses Personalization to Create Engagemnet</h3>
							<img src="../images/placeholder.png" alt="Icon Placeholder" />
						</li>
						<li>
							<h3>Fixing email overlaod, and now chat overload, for content teams</h3>
							<img src="../images/placeholder.png" alt="Icon Placeholder" />
						</li>
					</ul>					
				</div>
			</div>
		</section>
		<div class="modal-wrap" id="modal-wrap">
			<div class="modal">
				<a href="javascript:void(0)" id="close"></a>
				<h1 class="title">Ad Blockers: Setback or Spark for Innovation?</h1>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora accusantium laudantium debitis nobis officiis sit, est nulla modi consequuntur assumenda dolore error voluptatibus? Eos, illo ipsam iste sint. Ipsa, libero.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestias impedit id, omnis tempora corporis veniam sunt tempore. Esse reprehenderit ut ad, ducimus ratione corporis eos veritatis sint possimus fugiat!
					</p>
					<a href="#">Continue reading..</a>
				</div>
			</div>
		</div>
	<script src="../scripts/app.js"></script>
	</body>
</html>